<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/normalise.css" />
  <link rel="stylesheet" href="/css/nord-mocha.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/IWSLogo.svg">
  <title>Iain Schmitt</title>
</head>

<body>
  <div class="md-content">
    @RenderBody()
  </div>
</body>
<script src="/js/prism.js" defer></script>

</html>
