@model Portfolio.App.ErrorInput
@{
  Layout = "_Layout";
}
<div class="error">
  <h1>
    Error
    @ViewData["ErrorCode"]
  </h1>
  <p>
    @ViewData["Body"]
  </p>
  <a href="/">Back to home</a>
</div>