@{
  Layout = "_Layout";
}
<a href="/" class="post-header-link">
  <h1>@Html.Raw(ViewData["Header"])</h1>
</a>
<hr></hr>
@Html.Raw(ViewData["Body"])
<div class="center">
  <a href="/">Back to home</a>
</div>
