<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="/css/index.css" rel="stylesheet" />
    <link href="/css/normalise.css" rel="stylesheet" />
    <link href="/css/nord-prism.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/IWSLogo.svg">
    <title>Iain Schmitt Portfolio</title>
  </head>
  <body>
    <div class="md-content">
      {{{body}}}
    </div>
  </body>
  <script src="/js/prism.js"></script>
</html>
