<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="/css/index.css" rel="stylesheet" />
    <link href="/css/nord-prism.css" rel="stylesheet" />
    <title>Iain Schmitt Portfolio</title>
  </head>
  <body>
    <div class="md-content">
      {{{body}}}
    </div>
  </body>
  <script src="/js/prism.js"></script>
</html>