<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="stylesheet" href="/css/normalise.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/icon.svg">
    <title>@ViewData["Title"]</title>
    <meta property="og:title" content="@ViewData["Title"]"/>
    <meta property="og:image" content="/images/metaV1.png"/>
    <meta property="og:url" content="@ViewData["Url"]"/>
    <meta property="og:type" content="website"/>
    <meta name="author" content="Iain Schmitt"/>
</head>
<body>
<div class="md-content">
    @RenderBody()
</div>
</body>
</html>
