:root {
    --colorBase: #181825;
    --color0: #1e1e2e;
    --color1: #313244;
    --color2: #45475a;
    --color3: #585b70;
    --color4: #a6adc8;
    --color5: #bac2de;
    --color6: #cdd6f4;
    --color7: #94e2d5;
    --color8: #89dceb;
    --color9: #74c7ec;
    --color10: #89b4fa;
    --color11: #f38ba8;
    --color12: #f2cdcd;
    --color13: #f9e2af;
    --color14: #a6e3a1;
    --color15: #c6a0f6;
    --max-width: 670pt;
    --default-padding: 1rem;
    --rule-height: 2pt;
}

@font-face {
    font-family: "Overpass";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(../font/overpassNormal.woff2) format("woff2");
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
        U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Overpass";
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(../font/overpassItalic.woff2) format("woff2");
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
        U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Fantasque Sans Mono";
    src: url(../font/FantasqueSansMonoRegular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    src: url(../font/Mulish.woff2) format("woff2");
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
        U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
body {
    margin: 0;
    font-family: "Overpass", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.7;
    width: 100%;
    background-color: var(--color0);

    ::selection {
        background: var(--color2);
    }
}

.md-content {
    padding: var(--default-padding);
    max-width: var(--max-width);
    margin: auto;
    @media (min-width: 925px) {
        padding-left: calc(100vw - 100%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    color: var(--color5);
}

hr {
    background: var(--color12);
    height: var(--rule-height);
    border: 0;
}

img {
    max-width: 100%;
    @media (min-width: 768px) {
        max-width: 75%;
    }
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: var(--color12);
    text-decoration: none;
}

.center {
    text-align: center;
}

p {
    font-size: 14pt;
}

code {
    font-family: "Fantasque Sans Mono", monospace;
}

li {
    font-size: 14pt;
}

.header-link {
    text-decoration: none;
}

.post-header-link {
    h1 {
        font-weight: 400;
        font-size: 1.75em;
    }
    text-decoration: none;
    text-align: left;
}

:not(pre) > code {
    background: var(--colorBase);
    border-radius: 0.3em;
    padding: 0.3em;
}

blockquote {
    background-color: var(--colorBase);
    border-radius: 0.3em;
    padding: 1em;
    margin: 0.5em 0;
}

blockquote p {
    margin: 0;
}

table {
    min-width: 75%;
    margin: auto;
}
